// Mixins acá
.radius {
    border-radius: 8px;
}

.btn-mx(@bg-color, @text-color) {
    background-color: @bg-color;
    width: fit-content;
    padding: 8px;
    color: @text-color;
    transition: background-color 0.5s;
    .radius();

    &:hover {
        background-color: @river-bend;
    }
}
