// Código de Nav acá
.title{
    text-align: center;
    font-size: 3.2rem;
    padding: 20px 0px;
    // pading: 20px 0px 20px 0px; // arriba derecha abajo izquierda
    background-color: @nav-bg;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: @nav-bg;
    border-color: @nav-border;
    margin-bottom: 10px;


    .menu {
        font-size: 1.8rem;
        margin-bottom: 10px;
        font-weight: bold;
        color: @nav-font;
    }
}

@media @phone {
    width: 100%;
    padding: 0px 10px;
}