.app {
  text-align: center;
  justify-content:center;
  /* background-image: url("https://images.unsplash.com/photo-1584267385494-9fdd9a71ad75?ixlib=rb-1.2.1&dl=noaa-ZVhm6rEKEX8-unsplash.jpg&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh */
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -1;
}

.header {
  display: flex;
  z-index: 0;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 8rem;
  padding: 2rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mainCity {
  display: flex;
  justify-content: center;
  background-color:#00000030;
  transition: background-color 750ms;
}

.mainCity:hover {
  background-color:#00000060;
}

.mainCity, .mainCities {
  display: flex;
  justify-content:center;
  align-items:center;
}

.app, .mainCity {
  height: 100%;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1155df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);  
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
