.app {
  text-align: center;
  justify-content:center;
  /* background-image: url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100%;
  min-height: 100vh;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -1;
}

.header {
  display: flex;
  z-index: 0;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 8rem;
  padding: 2rem;
}

.span {
  color: var(--dark-color);
  font-size: 18px;
  background-color: #FFFFFF60;
  backdrop-filter: blur(8px);
  padding: 1rem;
  border-radius: 3rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mainCity {
  display: flex;
  justify-content: center;
  background-color:#00000030;
  transition: background-color 750ms;
}

.mainCity:hover {
  background-color:#00000060;
}

.mainCity, .mainCities {
  display: flex;
  justify-content:center;
  align-items:center;
}

.app, .mainCity {
  height: 100%;
  min-height: 100vh;
}